.background {
  background-image: url("../../public/img/fondo.png");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  color: var(--colorCrema);
  font-family: "Roboto Mono", monospace;
}

.content {
  margin-left: 10%;
}

.background div h2 {
  font-size: 5rem;
  margin-top: 10%;
}

span {
  display: block;
  font-family: "Rampart One", cursive;
  font-size: larger;
}

.background p {
  font-size: 1.8rem;
}

.background a {
  background-color: #141223;
  color: var(--colorCrema);
  font-size: 2rem;
  text-decoration: none;
  margin-left: 48%;
  padding: 15px;
  border-radius: 15px;
}

@media screen and (max-width: 960px) {
  .content {
    margin-top: 1vh;
  }
  .background div h2 {
    font-size: 80px;
    margin-top: 30%;
  }

  .background div span {
    font-size: 100px;
  }
  .background div p {
    font-size: 30px;
  }

  .background a {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    margin-top: 30vh;
  }
  .background div h2 {
    font-size: 50px;
    margin-top: 20%;
  }

  .background div span {
    font-size: 60px;
  }
  .background div p {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .background a {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin-top: 30vh;
  }

  .background div h2 {
    font-size: 50px;
    margin-top: 20%;
  }

  .background div span {
    font-size: 55px;
  }
  .background div p {
    margin-top: 20px;
    font-size: 15px;
  }

  .background a {
    font-size: 15px;
  }
}
