.background {
  background-image: url("../../public/img/fondo.png");
  object-fit: cover;
  background-position:center;
  background-repeat:no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  color: var(--colorCrema);
  font-family: "Roboto Mono", monospace;
}

 .content {
  border: solid;
   border-left: 2px rgb(109, 255, 80);
   margin-left: 10%;
}

.background div h2 {
  font-size: 5rem;
  margin-top: 12%;
}

span{
  display: block;
  font-family: 'Rampart One', cursive;
  font-size: larger;
}

.background p{
  font-size: 1.8rem;
}

.background a{
  background-color: #141223;
  color: var(--colorCrema);
  font-size: 2rem;
  text-decoration: none;
  margin-left: 48%;
  padding: 10px;
  border-radius: 15px;
}