.banner {
  background-image: url("../assets/img/fondo.png");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-contenedor {
  border-style: line;
  display: inline-block;
  font-weight: bolder;
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  padding-left: 15vh;
  border-left: 2px #b94b3e;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 5.5rem;
  font-weight: 600;
  color: #fff8e6;
  margin-bottom: 2rem;
  text-align: initial;
}

.heading span {
  display: inline-block;
  font-weight: bolder;
  -webkit-text-stroke: 2px #fff8e6;
  color: transparent;
}

.heading-sub {
  color: var(--colorCrema);
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 70vh;
  border-radius: 3px;
  padding: 30px;
}
.cita {
  background-color: #b94b3e;
  color: var(--colorCrema);
  text-decoration: none;
  margin-left: 48%;
  border-radius: 15px;
  margin-top: 20px;
}




@media (max-width: 1034px) {
  .info-contenedor {
    max-width: 80%;
    padding-left: 0;
    border-left: none;
    margin: 20px auto;
  }

  .heading {
    font-size: 4.5rem;
    letter-spacing: 15px;
    margin-bottom: 1.5rem;
  }

  .heading-sub {
    font-size: 18px;
    margin-right: 0;
    padding: 25px;
  }

  .cita {
    margin-left: 40%;
    margin-top: 15px;
  }
}

@media (max-width: 694px){
  .heading {
    font-size: 4rem;
    letter-spacing: 0;
    text-align: center;
  }

  .heading-sub {
    font-size: 20px;
    margin-right: 0;
    padding: 10px;
  }
}

@media (max-width: 490px) {
  .info-contenedor {
    max-width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }

  .heading {
    font-size: 3.5rem;
    letter-spacing: 0;
    text-align: center;
  }

  .heading-sub {
    margin-right: 0;
    padding: 10px;
  }

  .cita {
    margin-left: 5%;
  }
}
