.filters {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.label-filters {
  color: var(--colorAzul);
  font-size: medium;
  letter-spacing: 3px;
  font-weight: bold;
}

.btn-primary {
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
  margin-bottom: 10px;
  background-color: var(--colorAzul);
  outline: none;
  border: none;
  transition: 0.3s linear;
}

.btn-primary:hover {
  transform: translatey(2px);
}

.btn-primary:active {
  transform: translatey(5px);
}