.filters {
  display: flex;
  justify-content: space-between;
}

form{
  display: flex;
}

.form-group {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  position: relative;
  margin: 1rem 0;
}

.label-filters {
  color: var(--colorAzul);
  font-size: medium;
  letter-spacing: 3px;
  font-weight: bold;
}

.form-control-filtro {
  width: 80%;
  border: none;
  border-bottom: 2px solid #b94b3e;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: transparent;
}

.form-control-filtro:focus,
.form-control-filtro:active {
  border-bottom-color: var(--colorAzul);
  outline: none;
}

.btn-buscar {
  background-color: var(--colorAzulClaro);
  box-shadow: 0 9px 25px -5px var(--colorAzul);
  padding: 0.5em 1.9em;
  margin: 2.3em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: var(--colorCrema);
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}

.btn-primary:hover {
  background-color: var(--colorAzul);
  border-color: var(--colorAzul);
  transform: translatey(2px);
}

.btn-primary:active {
  transform: translatey(5px);
}

@media screen and (max-width: 632px) {
  .filters form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
  }

  .form-control-filtro {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .filters form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
  }

  .form-control-filtro {
    width: 90%;
  } 
}
