@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Rampart+One&display=swap");

header {
  display: flex;
  align-items: center;
  background-color: var(--colorAzul);
}

.container-link a {
  color: var(--colorCrema);
  font-size: 1.5rem;
  text-decoration: none;
}

.link {
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.link:active {
  border-bottom: 3px solid #b94b3e;
}

@media (max-width: 454px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
}
