.contenedor-fondo {
  margin-top: 15px;
  text-align: center;
  vertical-align: middle;
}
.contenedor-nosotros {
  margin-top: 100px;
}
a {
  text-decoration: none;
  text-align: center;
}
.nosotros-titulo {
  font-family: "Rampart One", cursive;
  margin-bottom: 20px;
  color: var(--colorAzul);
  font-size: 55px;
}

.nosotros-parrafo {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  margin: 40px;
  color: var(--colorAzul);
}

.contanedor-fotos {
  margin: 30px;
  border: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contanedor-fotos .card-img-top {
  width: 300px;
  height: auto;
}

.contanedor-fotos .card-title {
  color: var(--colorNaraja);
  font-family: "Mynerve", cursive;
  font-size: 35px;
}

@media screen and (max-width: 575px) {

  .nosotros-titulo {
    font-size: 50px;
  }

  .nosotros-parrafo {
    text-align: justify;
  }

  .contanedor-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contanedor-fotos .card-img-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .contenedor-nosotros {
    margin-top: 150px;
  }

  .nosotros-titulo {
    font-size: 35px;
  }

  .nosotros-parrafo {
    font-size: 15px;
    text-align: justify;
  }

  .contanedor-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contanedor-fotos .card-img-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 200px;
  }

  .contanedor-fotos .card-title {
    font-size: 25px;
  }
}
