*::before,
*::after {
  box-sizing: border-box;
}

/* paleta de colores */

:root {
  --colorAzulClaro: #214255;
  --colorAzul: #121b22;
  --colorNaraja: #b94b3e;
  --colorNarajaClaro: #db6447;
  --colorCrema: #fff8e6;
}
body {
  background-color: var(--colorCrema);
}
